@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400|JetBrains+Mono:400');

:root {

}

/* Sizing from Type-scale.com */
html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.75;
  background: var(--background);
  color: var(--textColor);
}

header {
  background-color: var(--headerBackground);
  box-shadow: var(--level-2);
  color: var(--white);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 var(--containerPadding);
}

footer {
  --footerTextColor: var(--grey);
  color: var(--footerTextColor);
  background: var(--footerBackground);
  padding: 2rem var(--containerPadding);
  text-align: center;
  display: grid;
}

footer a {
  color: var(--footerTextColor);
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--yellow);
}

footer p {
  font-size: var(--smallText);
  margin-bottom: 0;
  max-width: none;
}

header nav a {
  color: var(--white);
  text-decoration: none;
}

header nav a + a {
  margin-left: 20px;
}

header nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--yellow);
}

p {
  margin-bottom: 1rem;
  max-width: 40em;
}

p a,
blockquote a{
  color: var(--textColor);
  text-decoration: none;
  border-bottom: solid 2px var(--linkUnderline);
}

p a:hover,
blockquote a:hover {
  border-bottom: solid 3px var(--linkUnderline);
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {font-size: var(--h2);}

h3 {font-size: var(--h3);}

h4 {font-size: var(--h4);}

h5 {
  font-size: var(--h5);
}

blockquote {
  border: var(--line);
  border-radius:var(--borderRadius);
  background: var(--cardBg);
  max-width: 40em;
  width: 90%;
  margin: 10px;
  padding: 2em;
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  box-shadow: var(--level-3);
}

small, .text_small {
  font-size: var(--smallText);
}

/* End Type-scale import */

label {
  display: block;
  font-size: var(--smallText);
  font-style: italic;
  margin-top: 1em;
}

input, textarea {
  border: var(--line);
  border-radius: var(--borderRadius);
  padding: 4px 5px;
  box-shadow: var(--level-1);
}

textarea {
  width: 100%;
  height: 6rem;
  line-height: 1.5rem;
  box-shadow: var(--level-1);
}

::placeholder {
  font-size: var(--smallText);
  color: var(--grey);
  font-family: var(--heading-font);
}

select {
  border: var(--line);
  border-radius: var(--borderRadius);
}

hr {
  border-top: var(--line);
}

button {
  --buttonPadding: 5px 25px;
  --buttonShadow: var(--level-1);
  --buttonMargin: 5px;
  appearance: none;
  color: var(--buttonTextColor);
  background-color: var(--buttonColor);
  border: none;
  border-radius: var(--borderRadius);
  padding: var(--buttonPadding);
  box-shadow: var(--buttonShadow);
  margin: var(--buttonMargin);
  transition: 0.3s ease-out box-shadow;
}

button[disabled] {
  opacity: 0.2;
  color: var(--grey);
}

button:hover {
  box-shadow: var(--level-3);
}

button.cancel {
  background-color: var(--danger);
  color: var(--white);
}

button.small {
  font-size: var(--smallText);
  padding: 5px 10px;
}

.themebtns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
}

.layout {
  padding: calc(3rem + var(--headerHeight)) var(--containerPadding);
}

.grid {
  --gridCols: 2;
  display: block;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

/* Instead of this...
/* .grid-3 {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*}*/
/* Do this: */
.cols-3 {
  --gridCols: 3;
}

.flex {
  --justifyContent: space-between;
  display: block;
  justify-content: var(--justifyContent);
}

.split {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-gap: 20px;
}

.flex-around {
  --justifyContent: space-around;
}

/* Responsive Layout */
/* Located below .grid and .flex for specificity */
@media only screen and (min-width: 500px) {
  /* Below 500px gets phone sizing */
  :root {
    --baseFontSize: 100%;
  }
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
}

.fake-logo {
  font-size: var(--baseFontSize);
  margin: 0;
}

.card {
  background-color: var(--cardBg);
  padding: 1em;
  box-shadow: var(--level-3);
  border-radius: var(--borderRadius);
}

.card > *:first-child {
  margin-top: 0;
}

.card > *:last-child {
  margin-bottom: 0;
}

.theme {
  /* Define colors */
  --black: hsla(210, 11%, 15%, 1);
  --white: hsla(210, 1%, 98%, 1);
  --green: hsla(171, 100%, 46%, 1);
  --red: hsla(350, 100%, 66%, 1);
  --yellow: hsla(51, 98%, 65%, 1);
  --darkBlue: hsla(214, 100%, 15%, 1);
  --grey: hsla(0, 0%, 75%, 1);
  --lightGrey: hsla(210, 18%, 92%, 1);
  --darkGrey: hsla(345, 13%, 25%, 1);

  /* Define color intentions */
  --primary: var(--darkBlue);
  --danger: var(--red);
  --background: var(--lightGrey);
  --textColor: var(--darkBlue);
  --lightText: var(--lightGrey);
  --lineColor: var(--grey);
  --headerBackground: var(--darkBlue);
  --cardBg: hsla(100, 100%, 100%, 1);
  --buttonColor: var(--primary);
  --buttonTextColor: var(--white);
  --footerBackground: var(--black);
  --linkUnderline: var(--green);

  /* Styles */
  --line: solid 1px var(--lineColor);
  --borderRadius: 5px;

  /* Typography */
  --heading-font: 'JetBrains Mono', monospace;
  --body-font: 'IBM Plex Sans', sans-serif;
  --baseFontSize: 112.5%; /* 18px */
  --h1: 2.488rem;
  --h2: 2.074rem;
  --h3: 1.728rem;
  --h4: 1.44rem;
  --h5: 1.2rem;
  --smallText: 0.833rem;

  /* Elevation */
  --level-1: 0 1px 3px 0 hsla(0, 0%, 0%, 0.1), 0 1px 2px -1px hsla(0, 0%, 0%, 0.1);
  --level-2: 0 4px 6px  -1px hsla(0, 0%, 0%, 0.1), 0 2px 4px -2px hsla(0, 0%, 0%, 0.1);
  --level-3: 0 10px 15px -3px hsla(0, 0%, 0%, 0.1), 0 4px 6px -4px hsla(0, 0%, 0%, 0.1);
  --level-4: 0 20px 25px -5px hsla(0, 0%, 0%, 0.1), 0 8px 10px -6px hsla(0, 0%, 0%, 0.1);

  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
}

.warm {
  /* Colors */
  --peach: hsla(42,93%, 95%, 1);
  --darkBlue: hsla(224,100%, 17%, 1);
  --palePink: hsla(20,68%, 85%, 1);
  --white: hsla(0, 98%, 98%, 1);
  --lightBlue: hsla(187,55% ,71%, 1);
  --hotPink: hsla(337,85%, 74%, 1);
  --orange: hsla(46, 91%, 49%, 1);
  --yellow: hsla(56, 93%, 50%, 1);
  --darkRed: hsla(0, 100%, 22%, 1);

  /* Intentions */
  --primary: var(--palePink);
  --danger: var(--red);
  --background: var(--peach);
  --textColor: var(--darkRed);
  --lightText: var(--hotPink);
  --lineColor: var(--palePink);
  --headerBackground: var(--orange);
  --cardBg: var(--white);
  --buttonColor: var(--yellow);
  --buttonTextColor: var(--darkRed);
  --footerBackground: var(--black);
  --linkUnderline: var(--orange);
}

.warm button[disabled] {
  opacity: 0.3;
  color: var(--darkRed);
}

.warm textarea, .warm input {
  background-color: var(--white);
}

.pastel {
  /*Colors*/
  --purple: hsla(249, 100%, 75%, 1);
  --bluePurple: hsla(240, 100%, 86%, 1);
  --white: hsla(248, 100%, 98%, 1);
  --offWhite: hsla(30, 100%, 93%);
  --apricot: hsla(24, 100%, 87%, 1);
  --black: hsla(0, 0%, 30%, 1);
  --red: hsla(0, 75%, 50%, 1);

  /*Intentions*/
  --primary: var(--bluePurple);
  --background: var(--white);
  --headerBackground: var(--purple);
  --footerBackground: var(--black);
  --danger: var(--red);
  --textColor: var(--purple);
  --lightText: var(--apricot);
  --buttonColor: var(--bluePurple);
  --buttonTextColor: var(--black);
  --lineColor: var(--apricot);
  --linkUnderline: var(--bluePurple);
  --cardBg: var(--offWhite);
}

.pastel button[disabled] {
  opacity: 0.3;
  color: var(--black);
}

.dusty {
  /*Colors*/
  --warmGrey: hsla(69, 12%, 44%, 1);
  --artichoke: hsla(60, 14%,  54%, 1);
  --khaki: hsla(35, 37%, 73%);
  --beige: hsla(23, 48%, 72%, 1);
  --banana: hsla(43, 73%, 80%, 1);
  --honey: hsla(39, 100%, 71%, 1);
  --sand: hsla(33, 74%, 65%, 1);
  --sepia: hsla(24, 54%, 82%, 1);
  --walnut: hsla(24, 36%, 55%, 1);
  --lightUmber: hsla(25, 20%, 50%, 1);
  --red: hsla(0, 75%, 45%, 1);

  /*Intentions*/
  --primary: var(--khaki);
  --background: var(--sepia);
  --headerBackground: var(--lightUmber);
  --textColor: var(--warmGrey);
  --lightText: var(--warmGrey);
  --lineColor: var(--walnut);
  --buttonColor: var(--honey);
  --buttonTextColor: var(--warmGrey);
  --linkUnderline: var(--khaki);
  --danger: var(--red);
  --cardBg: var(--khaki);
}

.dusty button[disabled] {
  opacity: 0.4;
  color: var(--warmGrey);
}

.dusty textarea, .dusty input {
  background: var(--lightGrey);
}

/* Dark Modes */
/* Making variables global (in the :root element) makes them easier to change. */
.dark {
  /* Easy to make a dark mode with this format */
  --cardBg: var(--darkBlue);
  --background: var(--black);
  --textColor: var(--lightGrey);
  --lightText: var(--lightGrey);
  --headerBackground: var(--darkGrey);
  --buttonColor: var(--grey);
  --buttonTextColor: var(--darkBlue);
  --footerBackground: var(--darkGrey);
  --linkUnderline: var(--grey);
}

.dark button[disabled] {
  opacity: 0.5;
  color: var(--black);
}

.oled {
  --black: hsla(0, 0%, 0%, 1);
  --cardBg: var(--darkBlue);
  --background: var(--black);
  --textColor: var(--lightGrey);
  --headerBackground: var(--darkGrey);
  --buttonColor: var(--grey);
  --buttonTextColor: var(--darkBlue);
  --footerBackground: var(--darkGrey);
  --linkUnderline: var(--grey);
}

.oled button[disabled] {
  opacity: 0.5;
  color: var(--black);
}

